.left,
.right {
    padding-top: 50px;
}

.left table {
    float: left;
}

#img-del {
    width: 28px;
    cursor: pointer;
    margin: 0 auto;
}

.logout {
    float: right;
}

.create-role {
    float: left;
}

.left table tr td {
    padding-top: 10px;
}

.left {
    box-shadow: 0px 0px 10px;
    height: 100%;
}
